name: Build Kadoor Final
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.10.0' # نسخه سازگار با سورس شما
          channel: 'stable'
      - run: flutter pub get
      - run: flutter build apk --release --no-tree-shake-icons
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: kadoor-app
          path: build/app/outputs/flutter-apk/app-release.apk
